[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.9.1"
redis = "==5.0.1"
python-dotenv = "==1.0.0"
loguru = "==0.7.2"
feedparser = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
